{% extends "index2.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='accueil2.css') }}">
{% endblock %}
    {% block content %}
    <section class="ajout">
      <article>
        <a class="ajout-elem" href=""><span>Ajouter un bien</span></a>
        <a class="ajout-elem" href=""><span>Ajouter un logement</span></a>
      </article>
    </section>
    <table>
      <caption>
        Derniers ajouts
      </caption>
      <thead class="tableau-ajout">
        <tr>
          <th scope="col" class="col">Type de bien</th>
          <th scope="col" class="col">Logement</th>
          <th scope="col" class="col">Pièce</th>
          <th scope="col" class="col">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
      </table>
    {% endblock %}
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="footer">
      <img id="appstore" src="{{ url_for('static',filename='img/appstore.jpg') }}" alt="Dispo sur appstore"/>
      <img id="googleplay" src="{{ url_for('static',filename='img/googleplay.png') }}" alt="Dispo sur Google play"/>
      <p id="groupe"> © AKHTAR NAIMA - VALIN OPHÉLIE - BOCQUET CLÉMENCE - VILCOQ YOHANN - RANDRIANTSOA NATHAN </p>
    </div>
  </footer>
</body>

</html>

