<!doctype html>
<html lang="fr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet", href="{{ url_for('static',filename='accueil2.css') }}">
    {% endblock %}
    <title>MobiList</title>
    {% endblock %}
  </head>
<body>
  <div class="accueil2"> 
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
        <a href="{{ url_for('accueil_connexion') }}">
          <img src="{{ url_for('static',filename='img/logo_mobilist.jpg') }}" alt="logo du site"/>
        </a>
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="navbar-nav-left">
                  <li class="nav-img" >
                    <img src="{{ url_for('static',filename='img/accueil.png') }}" alt="icône accueil"/>
                  </li>
                  <li class="nav-item-accueil">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('accueil_connexion')}}">Accueil</a>
                </li>
              <li class="nav-img" >
                <img src="{{ url_for('static',filename='img/mes-biens.png') }}" alt="icône nos services"/>
              </li>
              <li class="nav-item-bien">
                <a class="nav-link active" aria-current="page" href="#">Mes biens</a>
              </li> 

              <li class="nav-img" >
                <img src="{{ url_for('static',filename='img/mes-logements.png') }}" alt="icône contact"/>
              </li>
              <li class="nav-item-logement">
                <a class="nav-link active" aria-current="page" href="{{ url_for('affiche_logements') }}">Mes logements</a>
              </li> 
              <li class="nav-img" >
                <img src="{{ url_for('static',filename='img/simuler-sinistre.png') }}" alt="icône avis"/>
              </li>
              <li class="nav-item-sinistre">
                <a class="nav-link active" aria-current="page" href="{{ url_for('simulation') }}">Simuler un sinistre</a>
              </li> 
              <li id="connexion">
                <a href="{{ url_for('logout') }}">
                  <button class="connexion">Mon compte</button>
                </a>
              </li>         
  </header>
  <main>
    {% block content %}
    <section class="ajout">
      <article class="box-ajout">
        <div>
          <a href=""><img class="add" src="{{ url_for('static',filename='img/add.png') }}" alt="add something"></a>
          <a class="ajout-elem" href="">Ajouter un bien</a>
        </div>
        <div>
          <a href=""><img class="add" src="{{ url_for('static',filename='img/add.png') }}" alt="add something"></a>
          <a class="ajout-elem" href="">Ajouter un logement</a>
        </div>
      </article>
    </section>
    <section class="derniers_ajouts">
      <h3>Récents ajouts </h3>
    <table class="tableau">
      <thead>
        <tr>
          <th scope="col" class="col">Type de bien</th>
          <th scope="col" class="col">Logement</th>
          <th scope="col" class="col">Pièce</th>
          <th scope="col" class="col">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
      </table>
      <a href="" class="voir_plus"><u>Voir plus</u></a>
    </section>
    <section class="a_justifier">
      <h3>À justifier </h3>
    <table class="tableau">
      <thead>
        <tr>
          <th scope="col" class="col">Type de bien</th>
          <th scope="col" class="col">Logement</th>
          <th scope="col" class="col">Pièce</th>
          <th scope="col" class="col">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
      <a href="" class="voir_plus"><u>Voir plus</u></a>
    </section>
    {% endblock %}
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="footer">
      <img id="appstore" src="{{ url_for('static',filename='img/appstore.jpg') }}" alt="Dispo sur appstore"/>
      <img id="googleplay" src="{{ url_for('static',filename='img/googleplay.png') }}" alt="Dispo sur Google play"/>
      <p class="p-footer"> © AKHTAR NAIMA - VALIN OPHÉLIE - BOCQUET CLÉMENCE - VILCOQ YOHANN - RANDRIANTSOA NATHAN </p>
    </div>
  </footer>
</body>
</html>

