<!doctype html>
<html lang="fr">
  <head>
    {% block head %}
    <title>MobiList</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='accueil2.css') }}">
    {% endblock %}
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>  
    {% endblock %}
  </head>
<body>
  <script>
    // Fonction JavaScript pour afficher le menu superposé de mon compte
    function afficherMenu() {
      var section = document.getElementById("panneau-droit");
      if (window.getComputedStyle(section).display === "none") {  // vérifie l'état actuel de l'affichage
          section.style.display = "block";
      } else {
          section.style.display = "none";
      }
    }

  </script>
  <div class="accueil2"> 
    <header>
      <section id="section-compte" class="">
          <a class="liste-acces" href='#'>Mon compte</a>
          <a class="liste-acces" href='#'>Aide</a>
          <a class="liste-acces" href="{{ url_for('logout')}}">Déconnexion</a>
      </section>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
        <a href="{{ url_for('accueil_connexion') }}">
          <img src="{{ url_for('static',filename='img/logo_mobilist.jpg') }}" alt="logo du site"/>
        </a>
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="navbar-nav-left">
                  <li class="nav-img" >
                    <img src="{{ url_for('static',filename='img/accueil.png') }}" alt="icône accueil"/>
                  </li>
                  <li class="nav-item-accueil">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('accueil_connexion') }}">Accueil</a>
                </li>
              <li class="nav-img" >
                <img src="{{ url_for('static',filename='img/mes-biens.png') }}" alt="icône nos services"/>
              </li>
              <li class="nav-item-bien">
                <a class="nav-link active" aria-current="page" href="{{ url_for('mesBiens')}}">Mes biens</a>
              </li> 
              <li class="nav-img" >
                <img src="{{ url_for('static',filename='img/mes-logements.png') }}" alt="icône contact"/>
              </li>
              <li class="nav-item-logement">
                <a class="nav-link active" aria-current="page" href="{{ url_for('affiche_logements') }}">Mes logements</a>
              </li> 
              <li class="nav-img" >
                <img src="{{ url_for('static',filename='img/simuler-sinistre.png') }}" alt="icône avis"/>
              </li>
              <li class="nav-item-sinistre">
                <a class="nav-link active" aria-current="page" href="{{ url_for('simulation') }}">Simuler un sinistre</a>
              </li> 
              <li id="connexion">
                  <button onclick="afficherMenu()" class="connexion" id="bouton-compte">Mon compte</button>
              </li>
              <section id="panneau-droit" class="wb-overlay modal-content overlay-def wb-panel-r wb-init wb-overlay-inited user-closed open" aria-hidden="false" tabindex="-1" role="dialog">
                <header class="modal-header">
                  <h2 class="modal-title">{{ proprietaire.nom }} {{ proprietaire.prenom }}</h2>
                </header>
                <hr />
                <div class="modal-body">
                  <ul class="list-unstyled">
                    <li><a id="lien-info-compte" href="#"> Mes informations </a></li>
                    <li><a id="lien-aide-compte" href="#"> Aide </a></li>
                    <li><a id="lien-deconnexion" href="{{ url_for('accueil') }}"> Déconnexion </a></li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button onclick="afficherMenu()" class="btn btn-sm btn-primary pull-left overlay-close" id="btn-fermer" type="button">
                    Fermer
                  </button>
                </div>
              </section>       
        </nav> 
  </header>
  <main>
    {% block content %}
    <section class="ajout">
      <article class="box-ajout">
        <div>
          <a href="{{ url_for('ajout_bien')}}"><img class="add" src="{{ url_for('static',filename='img/add.png') }}" alt="add something"></a>
          <a class="ajout-elem" href="{{ url_for('ajout_bien')}}">Ajouter un bien</a>
        </div>
        <div>
          <a href=""><img class="add" src="{{ url_for('static',filename='img/add.png') }}" alt="add something"></a>
          <a class="ajout-elem" href="">Ajouter un logement</a>
        </div>
      </article>
    </section>
    <section class="derniers_ajouts">
      <h3>Récents ajouts </h3>
    <table class="tableau">
      <thead>
        <tr>
          <th scope="col" class="col">Type de bien</th>
          <th scope="col" class="col">Logement</th>
          <th scope="col" class="col">Pièce</th>
          <th scope="col" class="col">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
      </table>
      <a href="" class="voir_plus"><u>Voir plus</u></a>
    </section>
    <section class="a_justifier">
      <h3>À justifier </h3>
    <table class="tableau">
      <thead>
        <tr>
          <th scope="col" class="col">Type de bien</th>
          <th scope="col" class="col">Logement</th>
          <th scope="col" class="col">Pièce</th>
          <th scope="col" class="col">Date d'ajout</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
      <a href="" class="voir_plus"><u>Voir plus</u></a>
    </section>
    {% endblock %}
  </main>

  <footer class="footer mt-auto py-3 bg-light">
    <div class="footer">
      <img id="appstore" src="{{ url_for('static',filename='img/appstore.jpg') }}" alt="Dispo sur appstore"/>
      <img id="googleplay" src="{{ url_for('static',filename='img/googleplay.png') }}" alt="Dispo sur Google play"/>
      <p class="p-footer"> © AKHTAR NAIMA - VALIN OPHÉLIE - BOCQUET CLÉMENCE - VILCOQ YOHANN - RANDRIANTSOA NATHAN </p>
    </div>
  </footer>
</body>
</html>