{% extends "accueil_2.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='affichageLogements.css')}}">
{% endblock %}
{% block content %}
<div class="img-logement">
    <img id="img-log" src="{{ url_for('static',filename='img/logement.png') }}" alt="page affichage logements"/>
</div> 
<div class="list-logements">
    <h1> Mes logements </h1>
    <div class="log">
        {% for x in logements %}
        <section id="log-{{x.id_logement}}">
            <h1>Logement n°{{x.id_logement}}</h1>
            <article>
                <h3>Nom : {{x.nom_logement}}</h3>
                <h3>Type : {{x.type_logement.get_type()}}</h3>
                <h3>Adresse : {{x.adresse}}</h3>
                <h3>Pièces : </h3>
                <h3>Description : {{x.desc_logement}}</h3>
            </article>
        </section>
    </div>
    {% endfor %}
</div>
<div class="buttons-log">
    <ul>
        <li id="buttons">
            <a href="#">
                <button class="supprimer" >SUPPRIMER</button>
                <button class="modifier">MODIFIER</button>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

