{% extends "index2.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ajout_bien.css') }}">
{{ super()}}
{% endblock %}
{% block scripts %}
{{ super()}}
<!-- utilisation de JS pour actualiser les choix de pieces en fonction du logement -->
<script src="{{ url_for('static', filename='js/ajout_logement.js') }}"></script> 
<script>
    // document.addEventListener("DOMContentLoaded", function() {
    //     const logementSelect = document.getElementById("logement-select");
    //     const pieceSelect = document.getElementById("piece-select");

    //     console.log("doc loaded")
    //     console.log("logementSelect",logementSelect); // logs logement disponible pour le prorietaire
    //     console.log("nb logement dispo",logementSelect.options.length); // nb option dans le select

    //     // initialisation de la liste des pieces
    //     if (logementSelect.options.length === 0) {
    //         pieceSelect.innerHTML = "";
    //     } else {
    //         const logementId = logementSelect.value;
    //         console.log("const logementId",logementId); // logs id du logement
    //         fetch(`/get_pieces/${logementId}`) // requete pour obtenir les pieces au format json
    //             .then(response => response.json())
    //             .then(console.log("fetch ok"))
    //             .then(data => {
    //                 console.log("data",data); // logs du logement (pieces obtenues)
    //                 pieceSelect.innerHTML = "";
    //                 data.pieces.forEach(piece => {
    //                     const option = document.createElement("option");
    //                     option.value = piece.id;
    //                     option.textContent = piece.name;
    //                     pieceSelect.appendChild(option);
    //                 });
    //                 console.log("pieceSelect",pieceSelect); // logs de la liste des pieces
    //             })
    //             .catch(error => console.error("Ereur lors de l'obtention des pieces:", error));
    //     }

    //     // maj de la liste des pieces en fonction du logement selectionne
    //     logementSelect.addEventListener("change", function() {
    //         const logementId = this.value;
    //         console.log("const logementId",logementId); // logs id du logement
    //         fetch(`/get_pieces/${logementId}`) // requete pour obtenir les pieces au format json
    //             .then(response => response.json())
    //             .then(console.log("fetch ok"))
    //             .then(data => {
    //                 console.log("data",data); // logs du logement (pieces obtenues)
    //                 pieceSelect.innerHTML = "";
    //                 data.pieces.forEach(piece => {
    //                     const option = document.createElement("option");
    //                     option.value = piece.id;
    //                     option.textContent = piece.name;
    //                     pieceSelect.appendChild(option);
    //                 });
    //                 console.log("pieceSelect",pieceSelect); // logs de la liste des pieces
    //             })
    //             .catch(error => console.error("Ereur lors de l'obtention des pieces:", error));
    //     });
    // });
</script>
{% endblock %}
{{ super()}}
{% block content %}
<div class="ajout-logement"> 
    <h1>Ajoutez un bien à votre logement</h1>
        <form class="form-container" method="POST">
            <input type="hidden" id="type-form" name="type-form" value="ADD_LOGEMENT" required>
            <input type="hidden" id="rooms-array" name="rooms-array" value="" >

            <label class="form-label" for="name">Nom :</label>
            <input class="form-input" type="text" placeholder="Entrez le nom du logement"  id="edit-name-input" name="name" required>

            <label class="form-label" for="type">Type logement:</label>
            <!-- <select class="form-input" name="type" id="edit-type-input"> -->

                {% for val in type_logement %}
                  <input type="radio" class="type-logement" value="{{val.get_type()}}" name="typeL">{{val.get_type()}}</input>
                {% endfor %}
            <!-- </select> -->

            <label class="form-label" for="address">Adresse logement:</label>
            <input class="form-input" type="text" placeholder="Adresse du logement" id="edit-adress-input" name="address" >

            <label class="form-label" for="description">Description logement:</label>
            <input class="form-input form-textarea" type="text" placeholder="Description du logement" id="edit-description-input" name="description">

            <button type="button" class="btn-close-popup-room" onclick="console.log('Ajouter logement event clicked')">Ajouter pièce</button>

            <h2>Pièce a ajouter</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="room-table">
                    <tr>
                        <td><input type="text" class="room-name" placeholder="Nom de la pièce"></td>
                        <td><input type="text" class="room-description" placeholder="Description de la pièce"></td>
                    </tr>
            </table>

            <!-- <div class="form-btn-container">
                <button type="submit" class="btn-submit" >Ajouter</button>
            </div> -->
            <button class="btn btn-primary mb-3" id="formsumbmit" type="submit">Ajouter</button> 
        </form>
        <!-- {% if error == True %}
            <script>
                window.alert("Erreur lors de l'ajout du bien: {{form.errors}}")
                console.log("Erreur lors de l'ajout du bien: {{form.errors}}")
                console.log("affichage du formulaire {{form.data}}")
            </script>
        {% endif %} -->
        
    <div class="box-container" id="recent-ajout">
        <div id="titre-box">
            <h2>Récents Ajouts</h2>
        </div>
        <div id="historique">
            <!-- {% for x in bien %}
            <article>
                <p> {{x.id_type.get_nom_type}} </p>
                <p> {{x.id_logement.get_nom}} </p>
            </article>
            {% endfor %} -->
        </div>
    </div>
</div>
{% endblock %} 