{% extends "accueil_2.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ajout_bien.css') }}">
{% endblock %}
{% block scripts %}
{{ super()}}
<!-- utilisation de JS pour actualiser les choix de pieces en fonction du logement -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logementSelect = document.getElementById("logement-select");
        const pieceSelect = document.getElementById("piece-select");

        console.log("doc loaded")
        console.log("logementSelect",logementSelect); // logs logement disponible pour le prorietaire

        logementSelect.addEventListener("change", function() {
            const logementId = this.value;
            console.log("const logementId",logementId); // logs id du logement
            fetch(`/get_pieces/${logementId}`) // requete pour obtenir les pieces au format json
                .then(response => response.json())
                .then(console.log("fetch ok"))
                .then(data => {
                    console.log("data",data); // logs du logement (pieces obtenues)
                    pieceSelect.innerHTML = "";
                    data.pieces.forEach(piece => {
                        const option = document.createElement("option");
                        option.value = piece.id;
                        option.textContent = piece.name;
                        pieceSelect.appendChild(option);
                    });
                    console.log("pieceSelect",pieceSelect); // logs de la liste des pieces
                })
                .catch(error => console.error("Ereur lors de l'obtention des pieces:", error));
        });
    });
</script>
{% endblock %}
{{ super()}}
{% block content %}
<div class="ajout-logement"> 
    <h1>Ajoutez un bien à votre logement</h1>
    <form  class="form-group" form='form' action="{{ url_for('ajout_bien') }}" method="POST">
        <div class="box-container" id="main-form">
            <div id="left-side">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                <label class="form-group-element" for="logement">Le logement</label>
                {{ form.logement(class="form-group-element", id="logement-select") }}

                <label class="form-group-element" for="nom">Nom du bien</label>
                {{ form.nom_bien(class="form-group-element") }}

                <label class="form-group-element" for="categorie">Categorie du bien</label>
                {{ form.categorie_bien(class="form-group-element") }}

                <label class="form-group-element" for="type">Type du bien</label>
                {{ form.type_bien(class="form-group-element") }}

                <label class="form-group-element" for="piece">Piece</label>
                {{ form.piece_bien(class="form-group-element", id="piece-select") }}

                <label class="form-group-element" for="prix">Prix neuf</label>
                {{ form.prix_bien(class="form-group-element") }}

                <label class="form-group-element" for="date">Date de l'achat</label>
                {{ form.date_bien(class="form-group-element") }}

                <label class="form-group-element" for="description">Description</label>
                {{ form.description_bien(class="form-group-element") }}
            </div>
            <div id="right-side">
                <label class="form-group-element" for="justificatif">Justificatif</label>
                {{ form.justificatif_bien(class="form-group-element", disabled="disabled") }}
            </div>
        </div>
        {% if error == True %}
            <script>
                window.alert("Erreur lors de l'ajout du bien: {{form.errors}}")
                console.log("Erreur lors de l'ajout du bien: {{form.errors}}")
                console.log("affichage du formulaire {{form.data}}")
            </script>
        {% endif %}
        <button class="btn btn-primary mb-3" id="formsumbmit" type="submit">Ajouter</button> 
    </form>
    <div class="box-container" id="recent-ajout">
        <h1>Récents Ajouts</h1>
        <p> for bien un bien de la bd (box encadré)</p>
    </div>
</div>
{% endblock %}  