{% extends "accueil_2.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ajout_bien.css') }}">
{% endblock %}
{% block scripts %}
{{ super()}}
<!-- utilisation de JS pour actualiser les choix de pieces en fonction du logement -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logementSelect = document.getElementById("logement-select");
        const pieceSelect = document.getElementById("piece-select");

        console.log("doc loaded")
        console.log("logementSelect",logementSelect); // logs logement disponible pour le prorietaire

        logementSelect.addEventListener("change", function() {
            const logementId = this.value;
            console.log("const logementId",logementId); // logs id du logement
            fetch(`/get_pieces/${logementId}`) // requete pour obtenir les pieces au format json
                .then(response => response.json())
                .then(console.log("fetch ok"))
                .then(data => {
                    console.log("data",data); // logs du logement (pieces obtenues)
                    pieceSelect.innerHTML = "";
                    data.pieces.forEach(piece => {
                        const option = document.createElement("option");
                        option.value = piece.id;
                        option.textContent = piece.name;
                        pieceSelect.appendChild(option);
                    });
                    console.log("pieceSelect",pieceSelect); // logs de la liste des pieces
                })
                .catch(error => console.error("Ereur lors de l'obtention des pieces:", error));
        });
    });

    function formSubmit(){
        console.log("form submit")
        document.getElementById("form_bien").submit();
        document.getElementById("form_upload").submit();
    }

</script>
{% endblock %}
{{ super()}}
{% block content %}
<div class="ajout-logement"> 
    <h1>Ajoutez un bien à votre logement</h1>
    <div class="box-container" id="main-form">
        <div id="left-side">
            <form  class="form-group" id='form_bien' action="{{ url_for('ajout_bien') }}" method="POST">
                {{ form_bien.csrf_token }}
                {{ form_bien.hidden_tag() }}
                <label class="form-group-element" for="logement">Le logement</label>
                {{ form_bien.logement(class="form-group-element", id="logement-select") }}

                <label class="form-group-element" for="nom">Nom du bien</label>
                {{ form_bien.nom_bien(class="form-group-element") }}

                <label class="form-group-element" for="categorie">Categorie du bien</label>
                {{ form_bien.categorie_bien(class="form-group-element") }}

                <label class="form-group-element" for="type">Type du bien</label>
                {{ form_bien.type_bien(class="form-group-element") }}

                <label class="form-group-element" for="piece">Piece</label>
                {{ form_bien.piece_bien(class="form-group-element", id="piece-select") }}

                <label class="form-group-element" for="prix">Prix neuf</label>
                {{ form_bien.prix_bien(class="form-group-element") }}

                <label class="form-group-element" for="date">Date de l'achat</label>
                {{ form_bien.date_bien(class="form-group-element") }}

                <label class="form-group-element" for="description">Description</label>
                {{ form_bien.description_bien(class="form-group-element") }}

                {% if error == True %}
                <script>
                    window.alert("Erreur lors de l'ajout du bien: {{form_bien.errors}}")
                    console.log("Erreur lors de l'ajout du bien: {{form_bien.errors}}")
                    console.log("affichage du formulaire {{form_bien.data}}")
                </script>
                {% endif %}
            </form>
        </div>
        <div id="right-side">
            <form  id="form_upload" method="POST" enctype="multipart/form-data">
                <label class="form-group-element" for="justificatif">Justificatif</label>
                {{ form_upload.hidden_tag() }}
                {{ form_upload.file(class="form-group-element")}}
            </form>
        </div>
        <button class="btn btn-primary mb-3" id="formsumbmit" type="submit" onclick="formSubmit()">Ajouter</button> 
    </div>
    <div class="box-container" id="recent-ajout">
        <h1>Récents Ajouts</h1>
        <p> for bien un bien de la bd (box encadré)</p>
    </div>
</div>
{% endblock %}  