
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='connexion.css')}}">
{% endblock %}
{% block content %}
<a href="{{ url_for('home') }}"> <img class="retour" src="{{ url_for('static',filename='img/retour.png') }}" alt="retour"></a>
<section>
  <a> <img src="{{ url_for('static',filename='img/logo_mobilist.jpg') }}" alt="retour"></a>
  <h1>Connexion</h1> 
<form class="form-horizontal" role="form" method ="POST" action ="{{ url_for('login') }}"> 
  {{ form.hidden_tag() }}
  <div class="form-control-static">
    {{ form.username.label }}
    {{ form.username(size=50, class_="form-control", placeholder ="Username") }}
  </div>

  <div class="form-control-static">
    {{ form.password.label }}
    {{ form.password(size=50, class_="form-control", placeholder ="Password") }}
  </div>  
  
  <span class="form-control-static">
    <button type="submit" class="btn btn-primary mb-3">Se connecter</button>
  </span>
</form>
 <p id="signin"> Pas de compte ? Commencez <a href="{{ url_for('inscription')}}">maintenant</a> !</p>
</section>
{% endblock %}