{% extends "index2.html" %}
{% block styles %}
{{ super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='compte.css') }}">
{% endblock %}
{% block content %}
<script>

  function afficherPopUp() {
    var menu = document.getElementById('menu-modif');

    if (menu.classList.contains('visible')) {
        menu.classList.remove('visible');
      
      } else {
        menu.classList.add('visible');
      }
  }

</script>
<section class ="titre">
    <div id="image-user">
      <img class="image-user" src="{{ url_for('static',filename='img/user.jpg') }}" alt="icône de l'utilisateur">
    </div>
    <h1 class="access-compte"> Bonjour, <span id="user">{{ current_user.proprio.prenom }} {{ current_user.proprio.nom }}</span></h1>
</section>
<hr />
<section class="infos-user">
  <h2> Votre profil </h2>
<article class="donnees">
  <span id="nom-user">
    <h4>Nom</h4>
    {{ current_user.proprio.nom }}
  </span>
  
  <span id="prenom-user">
    <h4>Prénom</h4>
    {{ current_user.proprio.prenom }}
  </span>
  
  <span id="mail-user">
    <h4>Adresse email</h4>
    {{ current_user.proprio.mail }}
  </span>       
</article>
<ul class="gestion-profil">
  <li class="modification">
    <button onclick="afficherPopUp()" id="modif-infos" type="button"><img id="image-crayon" src="{{ url_for('static',filename='img/modification.png') }}" alt="icône crayon">
      Modifier le profil </button>
  </li>
  <li class="changement-mdp">
      <button onclick="" id="changer-mdp" type="button">Changer le mot de passe</button>
  </li>
</ul>
</section>

<!-- Le contenu du menu -->
<div id="menu-modif">
  <h2> Hello ! </h2>
  <button onclick="afficherPopUp()" id="modif-close">Fermer</button>
</div>
{% endblock %}