
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='connexion.css')}}">
{% endblock %}
{% block content %}
<span>
  <a href="{{ url_for('home') }}"><button class="accueil" role="button">Accueil</button></a>
</span>

<section class="section-connexion">
  <a href="{{ url_for('home')}}"> <img src="{{ url_for('static',filename='img/logo_mobilist.jpg') }}" alt="retour"></a>
  <h1>Mot de passe oublié</h1> 
  <form class="form-horizontal" role="form" method ="POST" action ="{{ url_for('valider') }}"> 
  <div class="form-control-static">
    {{ form.mdp.label }}
    {{ form.mdp(size=50, class_="form-control", placeholder ="Votre mot de passe") }}
    {{ form.valider.label }}
    {{ form.valider(size=50, class_="form-control", placeholder ="Confirmation") }}
  </div>

  <span class="form-control-static">
    <button type="submit" class="btn btn-primary mb-3"> Enregistrer</button>
  </span>
</form>
{% if (tentative) %}
<p> Le mot de passe est différent </p>
{% endif %}
</section>
{% endblock %}