<!-- réalisé à l'aide de https://codepen.io/aryancodeworm/pen/mdMjbbp -->
{% extends "index.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='services.css')}}">
{% endblock %}
{% block content %}
<div id="header">
    <h1>Nos services</h1>
      </div>
    <div class="container">
    <div class="card">
      <div class="card-image">
        <img src="{{ url_for('static', filename="img/enregistrer.png")}}" alt="icone enregistrer">
      </div>
      <div class="card-text">
        <h2 class="card-title">Enregistrer</h2>
        <p class="card-body">Enregistrer vos biens personnels en tout genre </p>
      </div>
    </div>
      <div class="card">
      <div class="card-image">
        <img src="{{ url_for('static', filename="img/doc.png")}}" alt="icone documents">
      </div>
      <div class="card-text">
        <h2 class="card-title">Inventaire</h2>
        <p class="card-body">Télécharger instantanement votre inventaire</p>
      </div>
    </div>
      <div class="card">
      <div class="card-image">
        <img src="{{ url_for('static', filename="img/dossier.png")}}" alt="icone dossier">
      </div>
      <div class="card-text">
        <h2 class="card-title">Justificatifs</h2>
        <p class="card-body">Ajouter ses justificatifs pour une conscience tranquille</p>
      </div>
    </div>
      <div class="card">
      <div class="card-image">
        <img src="{{ url_for('static', filename="img/position.png")}}" alt="icone position">
      </div>
      <div class="card-text">
        <h2 class="card-title">Cartographier</h2>
        <p class="card-body">Cartographier son logement</p>
      </div>
    </div>
    
    </div>
{% endblock %}