{% extends "accueil_2.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='simulation.css')}}">
{% endblock %}
{% block content %}
<div class="simulation">
    <div class="bandeau">
        <h1>Simuler un sinistre</h1>
    </div>
    <div class="annee">
        <p>Année du sinistre :</p>
        <p>🛈 L'année du sinistre impacte les dégâts possibles et la valeur de vos biens remboursables.</p>
        <input type="number" class="form-control" data-date-end-date="0d" min="1900" max="2024" step="1" value="2024"/>
    </div>
    <hr width="20%" position="centre"/>
    <div class="type">
        <p>Type de sinistre :</p>
        <select name="sinistre" id="sinistre-select">
          <option value="">-- Choisissez un type --</option>
          <option value="Inondation">Inondation</option>
          <option value="Incendie">Incendie</option>
          <option value="Glissement de terrain">Glissement de terrain</option>
          <option value="Tempête">Tempête</option>
          <option value="Tremblement de terre">Tremblement de terre</option>
        </select>
        <hr width="20%" position="centre"/>
    </div>
    <div class="logement">
        <p>Logement concerné :</p>
        <select name="logement" id="logement-select">
            <option value="">-- Choisissez un logement --</option>
            {% for loge in logements %}
                <option value="{{ loge }}">{{ loge }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="info">
        <p> 🛈 Pour rappel, voici vos logements :</p>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Adresse</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jean Dupont</td>
                    <td>32</td>
                    <td>Ingénieur</td>
                    <td>France</td>
                </tr>
                <tr>
                    <td>Marie Dubois</td>
                    <td>28</td>
                    <td>Designer</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Carlos Diaz</td>
                    <td>45</td>
                    <td>Chef de projet</td>
                    <td>Espagne</td>
                </tr>
                <tr>
                    <td>Anna Rossi</td>
                    <td>35</td>
                    <td>Développeuse</td>
                    <td>Italie</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
