.mobilist{
    display: flex;
}

.schema_titre{
    margin-top: 50px;
    margin-left: 500px;
}

.img_maison > img{
    width: 1400px;
    height: 1000px;
    margin-top: 200px;
}

.schema{
    display: flex;
    position: relative;
}

h1 {
    font-size: 80;
    font-family: sans-serif;
    font-weight: bold;
}

.schema_titre > h1:first-child{
    color : #612bb7;
}

.texte{
    z-index: 1;
    position: relative;
    margin-top: 117px;
}

.bulle{
    position: absolute;
    margin-left: 500px;
    margin-top: 60px;
}

.bulle img{
    width : 300;
    height: 900;
}

.texte p {
    font-size: 40;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 250px;
    margin-left: 32px;
}

.texte p:first-child, p:last-child {
    margin-left: 815px;
}

.inscription{
    height: 250px;
    background-color: rgb(182, 182, 182);
}

.inscription h2{
    padding-top: 20px;
    text-align: center;
    font-size: 55;
    font-family: sans-serif;
    font-weight: bold;
}


