img {
    height: 82px;
}

main {
    margin-top: 6.1rem;
    margin-bottom: 6.1rem;
}
nav {
    border-bottom: 1px solid; 
}


main {
    margin-top: 6.1rem;
    margin-bottom: 30rem;
}

#navbar-collapse  a {
    color: black;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 30px;
    list-style: none;
}

li {
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}


.nav-img img {
    height: 24px;
    position:absolute;
    top : 38px;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 7px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  position: absolute;
  top: 28px;
}
.ajout {
    border-radius: 20px;
    background-size:100%;
    background-image: url("img/img-ajout.png");
    box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.2);
    padding: 10%;
    margin:5%;
}
.box-ajout {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(211 211 211 / .6);
    padding-top:3%;
    padding-bottom:3%;
}

.box-ajout>div  {
    flex-wrap: nowrap;
    background-color: black;
    padding:2%;
    box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.1);
}

.ajout-elem {
    display:block;
    background-color: gray;
    color: white;
    padding:3px;
}
.ajout-elem:hover {
    color:#5E5DF0;
}


/* apparence tableaux */
.derniers_ajouts, .a_justifier {
    padding: 5px;
    border-top: 0.5mm solid;
    margin-bottom: 1%;
    border-color: lightgray;
}

.tableau {
    border:0.5mm solid;
}

.voir_plus {
    color: gray;
    display: block;
    text-align:center;
    margin-top: 1%;

}
.voir_plus:hover {
    color:#5E5DF0;
}

.connexion {
    border-radius: 999px;
    background: #5E5DF0;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    position: absolute;
    right: 50px;
    border: 0;
}


footer {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
}

#appstore {
    height: 50px;
}

#googleplay {
    height: 45px;
}
.p-footer {
    position: absolute;
    top: 32px;
    left : 540px;
    text-align: center;
}