.logements {
    margin: 10rem;
}


main button {
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 7px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  position: absolute;
  top: 28px;
}

.ajout {
    border-radius: 20px;
    background-color: rgb(206, 205, 209);
    box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 250px;
    right:40%;
    width:25%;
    height: 10%;
}
.col {
    border: thin;
    border-width: 0.5%;
}
.tableau-ajout {
    position: absolute;
    top: 400px;
    right:40%;
    border: thin;

}
.ajout-elem{
    padding: 5%;
    margin: 5%;
    width: 10%;
}
