main #formsumbmit {
    margin-left: 41%;
    margin-top: 30px;
    width: 20%;
    height: 60px;
    background: #5E5DF0;
    box-shadow: #5E5DF0 0 10px 20px -10px;
}
main {
    height: 100%;
 }

main h1{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}


main .form-group {
    display: block;
    width: 85%;
    margin: auto;
}

/* .form-group input,
.form-group label,
.form-group select,
.form-group textarea,
.form-group button {
    display: block;
    width: 50%;
    margin-bottom: 10px;
} */

#main-form {
    display: flex;
    flex-wrap: nowrap;
}
main .box-container {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .form-group-element {
    align-content: center;
    display: block;
    width: 70%;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

#left-side{
    padding: 30px;
    flex-basis: 50%;
}

#left-side * {
    margin: auto;
}

#left-side #form_logement, #form_nom, #form_cat, #form_type, #form_piece, #form_prix, #form_date, #form_desc{
    text-align: left;
    font-weight: bold;
}

#right-side{
    align-content: center;
    flex-basis: 20%;
    flex-grow: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

#right-side * {
    margin: auto;
}

main #recent-ajout {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}