.titre{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #e9eaee
}


.titre>h1{
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}
.h1pt1 {
    color: black ;
}
.h1pt2{
    color:#612bb7;
}

.avis{
    display : flex;
    justify-content: space-evenly;
}



.avis section{
    display: flex;
    flex-wrap :wrap;
    justify-content: space-between;
    padding: 25px;
    margin-top: 4em;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 30px; 
    width: 35%;
    height: 15em;
}

.avis>section>p{
    font-size: 20px;
}

.avis img{
    height: 20px ;
    width: auto ;

}

.bottom{
    margin-top:6em;
    margin-bottom:10em;
}

.bottom h2, h3{
    text-align: center ;
}
.bottom h2{
    font-weight: bold;

}