
h1 {
    position: relative;
    text-align: center;
}

#user {
    color: #3333b6;
}


#image-user {
    text-align: center;
    padding: 25px;
    margin-top: 10px;
}

hr {
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.infos-user {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 10px;  
    text-align: center;
    padding: 60px 0;
    
}

.infos-user > h2 {
    text-decoration: underline;
}

.donnees {
    width: 50%;
    border: solid 0.5px;
    font-size: 30px;
    font-weight: 400 ;
    display: flex;
    flex-direction: column; 
    gap: 15px;
    margin-bottom: 100px;
}

#modif-infos {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #6f6fdb 0%, #5E5DF0 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

#nom-user {
    margin-top: 10px;
}

#mail-user {
    margin-bottom: 10px;
}

#modif-infos:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}


#image-crayon {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}

#changer-mdp {
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: #5E5DF0 0 3px 20px -10px;
    color: #000000;
    border: 1px solid;
    border-color: gray;
    height: 40px;
}

.gestion-profil {
    display: flex;
    align-items: center;
    padding: 6px 14px;
}

h4 {
    color: rgb(184, 183, 183);
}

#menu-modif {
    visibility: hidden;
    position: fixed;
    top: 33%;
    left: 37%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#menu-modif.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

#menu-mdp {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
}


#menu-mdp.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

#submit {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  &:hover {
    color:white;
    background: #1ECD97;
  }
  
}

#annuler {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #cd1e1e;
  color: #cd1e1e;
  letter-spacing:1px;
  text-shadow:0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color:white;
    background: #cd1e1e;
  }
}

#menu-modif, #menu-mdp {
    text-align: center;
}

#menu-modif ul, #menu-mdp ul {
    padding: 0;
    justify-content: center;
    align-items: center;
}

.form-control-static .content {
    margin-top: 3px;
    margin-bottom: 0;
    color: rgb(184, 183, 183);
    font-weight: 500;
}

footer {
    position: fixed;
}