/* https://getcssscan.com/css-buttons-examples */

h1 {
    font-size: 45px;
}

.retour {
    height: 35px;
}
.logo {
    height: 200px;
}
section {
    margin: 5%;
    text-align: center;
}
input {
    font-size: 19px;
    margin: 7px;
    padding: 2px;
}
label {
    font-size: 18px;
}
div {
    margin: 3px;
    align-items: column;
}
.signin{
    padding: 5px;
    font-size: 14px;
}

button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 7px 15px;
  margin: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}