main .nav-img img {
    position:absolute;
    top : 36px;
}

main .paragraphe1 {
    background-color: lightgray;
    position: absolute;
    top: 200px;
    display: block;
    width:100%;
    height: 120px;
    text-align: center;
    padding: 20px;
    font-size: larger;
    
}

main .paragraphe2 {
    position: absolute;
    top: 380px;
    display: block;
    width:100%;
    height: 120px;
    text-align: center;
    padding: 20px;
    font-size: larger;
}

main .paragraphe3 {
    background-color: lightgray;
    position: absolute;
    top: 650px;
    display: block;
    width:100%;
    height: 120px;
    text-align: center;
    padding: 20px;
    font-size: larger;
}