main .nav-img img {
    position:absolute;
    top : 36px;
}

main .paragraphe1 {
    background-color: lightgray;
    position: absolute;
    top: 200px;
    display: block;
    width:100%;
    text-align: center;
    padding: 20px;
}

main .paragraphe2 {
    position: absolute;
    top: 380px;
    display: block;
    width:50%;
    text-align: left;
    padding: 2%;
}

main .paragraphe3 {
    background-color: lightgray;
    position: absolute;
    top: 650px;
    display: block;
    text-align: right;
    padding: 2%;
}
p {
    font-size: larger;
}
h1 {
    font-size: 40px;
    margin: 2px;
}
hr {
    color: lightgray;
}