main .nav-item-services a {
    color: #5E5DF0;
    font-weight: bold;
}

main .nav-img img {
    position:absolute;
    top : 36px;
}
/* source : https://codepen.io/aryancodeworm/pen/mdMjbbp */

body{ 
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
}
#header{
  margin:20px;
}
h1{
  text-align:center;
  padding:15px;
}
#header>p{
  text-align:center;
  font-size:1.5rem;
  font-style:italic;
}
.container{
  width:100vw;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:40px 20px;
}
.card{
  display:flex;
  width:400px;
  margin-bottom:60px;
}

.card-image{
  width:200px;
  height:200px;
}
.card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:250px;
  width:300px;
  background-color:#612bb7;
  color:#fff;
  padding:20px;
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}

main h1 {
    text-align: center;
    background-color: #e9eaee ;
    padding: 40px;
}

.contenu {
    display: flex;
    flex-wrap: wrap;
}

.contenu img:not(#info) {
    margin-bottom: 20px;
    height: 100px;
}

.img-info img{
    height: 40px;
    position: absolute;
    left: 20px;
}

.info p {
    font-weight: 300;
}

main section {
    width: 50%;
    padding: 100px;
    font-size: larger;
}

.para-info {
    position: absolute;
    left: 70px;
    margin-right: 100px;
    font-style: italic;
}
